.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 2rem;
    color: #11998e;
    padding: 20px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.2rem;
    color: #9b9b9b;
}


.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: rgb(231, 127, 58);
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: 100;
    border-width: 3px;
    border-image: linear-gradient(to right, #e77f3a, rgb(200, 0, 255));
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}

.formbg{
    margin: 0 auto;
    width: 100%; /* Увеличьте ширину до 90% экрана */
    max-width: 1000px; /* Увеличьте максимальную ширину */
    max-height: 900px;
    background: white;
    border-radius: 30px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 25px;
}



.registration{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    line-height: 2.25;
    text-decoration: none;/*ссылка без подчеркивания*/
}

.reg_but{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.25;
    text-decoration: none;/*ссылка без подчеркивания*/
    color: #000000;/*цвет ссылок меню*/
    /*opacity: 0.75;!*значение прозрачности*!*/
    list-style: none;/*удалить черные маркеры*/
}