<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iT-card</title>
    <link rel="stylesheet" href="/home.css"/>
    <link rel="stylesheet" href="/text.css"/>
    <link rel="stylesheet" href="/enders.css"/>
    <link rel="stylesheet" href="/background.css"/>
</head>

<body>
    <div th:insert = "blocks/enders :: header"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <main>

    </main>


    <div th:insert = "blocks/enders :: footer"></div>
</body>
</html>
