<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>iT-card</title>
        <link rel="stylesheet" href="/home.css"/>
        <link rel="stylesheet" href="/background.css"/>
    </head>
    <div class="gradient"></div>
    <header th:insert="blocks/header :: header"/>
    <body>
        <div class="px-4 py-5 my-5 text-center">
            <!--<img class="d-block" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <h1 class="main_page">Main Page</h1>
            <div class="container">
                <p class="text_on_main_page">Nothing here.</p>
            </div>
        </div>
    </body>
</html>
