<!DOCTYPE html>
<html lang="en"><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iT-card</title>
    <link rel="stylesheet" href="/home.css"/>
    <script src="/scroll_script.js"></script>
</head>

<!--
<header th:insert="blocks/header :: header"/>
-->
<body>

<!--Использование градиента-->
<!--    <div class="gradient"></div>-->
<!--<div th:fragment = "header"> </div>-->

<nav class="nav">
    <div class="nav-container">
        <div class="collapse navbar-collapse" id="navbarColor03">
            <a class="navbar-logo" href="/">iT-card</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="main_page">
        <img class="main_gradient" alt="image" src="https://cdn.shopify.com/s/files/1/2031/9599/collections/923header_a29b24dd-d53b-4fc8-afa9-184513fa65d9.jpg?v=1660343809" height="400" sizes="(max-width: 32em) 100vw, 33vw" width="600" loading="eager">
    </div>
    <header>
        <p class="hello_sign">This page about info of MIREA!</p>
    </header>
</main>


<!-- Сетка галереи портфолио -->
<div class="row">
    <div class="column">
        <div class="content">
            <img src="/images/some_class.jpg" alt="Учебный класс" style="width:100%">
            <h3>Моя работа</h3>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/images/our_students.jpg" alt="Наши студенты учатся в поте лица!" style="width:100%">
            <h3>Моя работа</h3>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/images/him_mirea.jpg" alt="Химическое отделение" style="width:100%">
            <h3>Моя работа</h3>
            <p>Lorem ipsum..</p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="/images/happy_graduation.jpg" alt="Счастливые выпускники!" style="width:100%">
            <h3>Моя работа</h3>
            <p>Lorem ipsum..</p>
        </div>
    </div>
</div>

<div class="content">
    <img src="/images/main_photo.jpg" alt="main_photo" style="width:100%">
    <h3>Некоторые другие работы</h3>
    <p>Lorem ipsum..</p>
</div>

<div class="page-container">
    <div class="content">
        <!-- Ваш контент (содержимое страницы) размещается здесь -->
    </div>
    <footer class="footer">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>©2023 Java WebSite | Made by 2 students</p>
    </footer>
</div>




</body>
</html>
</html>