<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>iT-card</title>
  <link rel="stylesheet" href="/login.css"/>
  <link rel="stylesheet" href="/text.css"/>
  <link rel="stylesheet" href="/enders.css"/>
  <link rel="stylesheet" href="/background.css"/>
</head>

<body>
  <div th:insert = "blocks/enders :: header"></div>

  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <main>
    <div class="main_page">
      <img class="main_gradient" alt="image" src="https://cdn.shopify.com/s/files/1/2031/9599/collections/923header_a29b24dd-d53b-4fc8-afa9-184513fa65d9.jpg?v=1660343809" height="400" sizes="(max-width: 32em) 100vw, 33vw" width="600" loading="eager">
    </div>
    <div class="login_page">
      <p>Вход в аккаунт:</p>
    </div>

    <div class = "formbg">
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Name</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Surname" name="surname" id='surname' required />
        <label for="surname" class="form__label">Surname</label>
      </div>

      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Password" name="password" id='password' required />
        <label for="password" class="form__label">Password</label>
      </div>

      <button type="submit" class="bn29">Continue</button><br>

      <p class="registration">Если у вас еще нет аккаунта, пожалуйсата </p>
      <li class="reg_but"><a href="/registration">зарегистрируйтесь!</a></li>
    </div>
  </main>

  <div th:insert = "blocks/enders :: footer"></div>
</body>
</html>