<div th:fragment = "header">
    <script src="/scroll_script.js"></script>
    <nav class="nav">
        <div class="nav-container">
            <div class="collapse navbar-collapse" id="navbarColor03">
                <a class="navbar-logo" href="/">iT-card</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment = "footer">
    <div class="page-container">
        <footer class="footer">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/login">Login</a></li>
<!--                <li><a href="#">Team</a></li>-->
<!--                <li><a href="#">Contact</a></li>-->
            </ul>
            <p>©2023 Java WebSite | Made by 2 students</p>
        </footer>
    </div>
</div>